<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yujan.android_data">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".memory_file.Memory_FileActivity" />
        <activity android:name=".live.QiYuKFActivity" />
        <activity android:name=".layout_view.LayoutActivity" />
        <activity android:name=".layout_view.ConstraintLayoutActivity" />
        <activity android:name=".method.ValidateActivity" />
        <activity android:name=".method.DateActivity" />
        <activity android:name=".method.MoneyActivity" />
        <activity android:name=".method.MethodToolActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sjms.mvp.MVPActivity" />
        <activity android:name=".sjms.SJMSActivity" />
        <activity android:name=".sjms.NormalActivity" />
        <activity android:name=".sjms.mvc.MVCActivity" />
        <activity android:name=".sjms.mvvm.MVVMActivity" />
        <activity android:name=".netrequest.normal.HttpTestActivity" />
        <activity android:name=".netrequest.NetRequestActivity" />
        <activity
            android:name=".netrequest.okhttp.OkhttpRequestActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".jsonparse.JsonParseActivity" />
        <activity android:name=".netrequest.okhttppackage1.OkhttpPackage1Activity" />
        <activity android:name=".exception.ExceptionActivity" />
        <activity android:name=".video.VideoActivity" />
        <activity android:name=".video.VideoMainActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".pay.PayListActivity" />
        <activity android:name=".pay.alipay.PayDemoActivity" />
        <activity android:name=".banner.BannerActivity" />
        <activity android:name=".banner.BannerVideoImgActivity" />
        <activity android:name=".live.LiveListActivity" />
        <activity android:name=".live.TencentLiveActivity" />
        <activity android:name=".miniProgram.MiNiProgramTypeActivity" />
        <activity android:name=".miniProgram.MiNiProgramTZActivity" />
        <activity
            android:name=".video.VideoDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity android:name=".video.VideoDetailsDKActivity" />
        <activity android:name=".chart.ChartActivity" />
        <activity android:name=".tab.TabListActivity" />
        <activity android:name=".tab.TabType01Activity" />
        <activity android:name=".watermark.WaterMarkActivity" />
        <activity android:name=".activity_view.ViewActivity"/>
        <activity android:name=".activity_view.SJFFActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>